body,html {
    margin: 0px !important;
    padding: 0px !important;
}

.full-info-div {
    position: fixed;
    width: 100vw;
    min-height: fit-content;
    max-height: 120vh;
    overflow: scroll;
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.info-div {
    width: 80%;
    height: fit-content;
    margin: 8vh 10vw;
    border: 2px solid rgba( 220, 220, 220, 0.6);
    box-shadow: 0 0 22px rgba(252, 252, 252, 0.4);
    border-radius: 12px;
    background-color:  hsl(184, 87%, 94%);
    margin-bottom: 30vh !important;
}

.profile-pic {
    height: 32vh;
    width: 15vw;
    margin: 22px;
    margin-left: 4vw;
    margin-top: 5vw;
}

.info-header {
    font-family: 'Dela Gothic One', sans-serif;
    font-weight: 800;
    font-size: 28px;
    color: #33006F;
    margin: 10px;
    text-align: center;
    margin-top: 3vh;
}

.just-another-info-div {
    display: flex;
    flex-direction: row;
}

.about-me-paragraph {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 16px;
    color: #33006F;
    margin: 10vh;
}

#header nav a:hover {
    font-size: 1.1em;
}

    #header nav a:hover:before {
        background-color:hsl(184, 87%, 94%);
        color:#33006F;
    }

#header nav a:active {
    font-size: 0.95em;
    background: none;
}

    #header nav a:active:before {
        background-color:hsl(184, 87%, 94%);
        color:#33006F;
    }

#header nav a span {
    display: none;
}

.nav-div {
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: 6vh;
}